.login{
    background-color: rgb(191, 141, 56);
}
.loginForm{
    width: 25rem;
    height: 23rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(245, 231, 207);
    padding: 3rem;
    
}